<!doctype html>
<html>
  <head>
    <title>NALCC Aquatic Systems Modelling</title>
    <link rel="stylesheet" type="text/css" href="../css/content.css">
<link rel="stylesheet" href="../css/streams.css" >
<link rel="stylesheet" href="../css/style.css" >
<style type="text/css">

	body{
		overflow-y:scroll;
	}
	div#landingBackground {
		position: absolute;
		width: 100%;
		height: 1500px;
		background:url(../images/landing-bkgd-trans.gif);
		background-size: 100% 100%;
		left: 0;
		top: 0;
		opacity:.5
	}
	div#content {
		left: 200px;
		top: 200px;
		width: 60%;
		height: 80%px;
		text-align: center;
		vertical-align: middle;
		position: absolute;
	}
</style>

  </head>
  <body>
	<div id="landingBackground">
	</div>

	<div id="content">
		<h1 style="color:#006633">NALCC Aquatic Systems Modelling</h1>
		<p>Forecasting Changes in Aquatic Systems and<br> Resilience of Aquatic Populations in the NALCC: <br>Decision-support Tools for Conservation</p>

<p>Made possible by funding from the<h2> North Atlantic Landscape Conservation Commission</h2></p>
<p>Additional funding from the<h3> Northeast Climate Science Center</h3></p>
<h3>
USGS Conte Anadromous Fish Research Center</h3>
<ul>
<li>Dr Ben Letcher (PI)</li>
<li>Dr Ron Bassar (integral projection model, evolutionary modeling)</li>
<li>Dr Yoichiro Kanno (multiple population modeling)</li>
<li>Ana Rosner (web site oversight, environmental modeling)</li>
<li>Krzysztof Sakrejda (salmon integral projection model)</li>
<li>Paul Schueller (biological modeling)</li>
</ul>

<h3>University of Wisconsin, Platteville</h3>
<ul>
<li>Dr Austin Polebitski (climate and environmental modeling)
</li></ul>
<h3>University of Massachusetts, Amherst
<br>Department of Civil and Environmental Engineering</h3>
<ul><li>Professor Casey Brown</li>
<li> Kyle ONeil </li>
<li>Professor Richard Palmer</li>
<li> Scott Steinschneider</li>
<li>Lynn Brennan</li></ul>

<h3>University of Massachusetts, Amherst
<br>Department of Computer Science</h3>
<ul><li>Dr Tim Richards</li>
<li>Kun Tu</ul>
<h3>Hitpoint Studios</h3>
<ul><li>Chris Jennison</li></ul>

 
 <h3>University of Massachusetts, Amherst
<br>Climate System
Research Center and Department of Geosciences</h3>
<ul><li>Dr. Raymond Bradley</li>
<li>Dr. Liang Ning</ul>
		
		
<h2>Additional data provided by</h2>
<ul>
<li>US Geological Survey</li>
<li>The Nature Conservancy</li>
<li>NALCC Designing Sustainable Landscapes project, Kevin McGarigal, et al</li>
<li>NHDplus Version 2, USGS and EPA</li>
<li>Ed Maurer, Santa Clara University, and Andy Wood, CBRFC </li>
<li>Massachusetts, Connecticut, New Hampshire, and Vermont state governments <br>(get credits for stream temp data)</li>

</ul>		
		
	</div>
	  <div id="pic" style="position:absolute; right:100px; top:100px; margin-right:100px; margin-top:0px; vertical-align:top">
		  <img src="../images/west-brook-snapshot.jpg" style="width: 300px; vertical-align: top; box-shadow: 10px 10px 10px grey;">
	  </div>	

<div id="logos">
<ul>
  <li vertical-align: middle;><p style="width:100px; font-weight: bold; font-size: 17px;">
  North Atlantic Landscape Conservation Cooperative</p></li>
  <li vertical-align: middle;><img src="images/FWS.gif" height: 120px; /></li>
  <li vertical-align: middle;><img src="images/logo_usgs.png" height: 50px;/></li>
  <li vertical-align: middle;><img src="images/umass_logo.png" height: 50px; /></li>
  <li vertical-align: middle;><span id="beta">alpha version</span></li>
  </ul>
</div>


      <img src="../images/west-brook-snapshot" >
     <p style="position:fixed; top:50px; left:30px"> See the <a href="/documentation" target="_blank" >Documentation</a></p>
      <p style="position:fixed; top:0">Go to the <a href="/login">login page</a>.</p>
  </body>
</html>