<!doctype html>
<html>
  <head>
    <title>NALCC Aquatic Systems Modelling</title>
    <link rel="stylesheet" type="text/css" href="../css/content.css">
<link rel="stylesheet" href="../css/streams.css" >
<link rel="stylesheet" href="../css/style.css" >
<style type="text/css">
	div#landingBackground {
		position: absolute;
		width: 100%;
		height: 100%;
		background:url(../images/landing-bkgd-trans.gif);
		background-size: 100% 100%;
		left: 0;
		top: 0;
		opacity:.5
	}
	div#content {
		left: 200px;
		top: 50px;
		width: 400px;
		height: 200px;
		text-align: center;
		vertical-align: middle;
		position: absolute;
	}
</style>

  </head>
  <body>
	<div id="landingBackground">
	</div>

	<div id="content">
		<h1 style="color:#006633">NALCC Aquatic Systems Modelling</h1>
		<h2>Documentation</h2>
		
		 <p>Documentation will go here.
		 <img src="images/model_flowchart.png">
		 </p>
		 
	</div>
	  <div id="pic" style="position:absolute; right:100px; top:100px; margin-right:100px; margin-top:0px; vertical-align:top">
		  <img src="../images/west-brook-snapshot.jpg" style="width: 500px; vertical-align: top; box-shadow: 10px 10px 10px grey;">
	  </div>	

<div id="logos" >
	<ul>
	  <li vertical-align: middle><p style="width:100px"><b>North Atlantic Landscape Conservation Cooperative</b></p></li>
	  <li vertical-align: middle><img src="../images/FWS.gif" /></li>
	  <li vertical-align: middle><img src="../images/logo_usgs.png" /></li>
	  <li vertical-align: middle><img src="../images/umass_logo.png" /></li>
	  <li vertical-align: middle><span id="beta">alpha version</span></li>
	  </ul>

</div>

  </body>
</html>