<!doctype html>
<html>
  <head>
    <title>Streams</title>
    <link rel="stylesheet" type="text/css" href="/css/content.css">
  </head>
  <body>
    <div id="content">
      <h1>Streams</h1>
      <img src="/images/screen-shot.png">
      <p>This is a placeholder for the landing page that
         will eventually be the details of the project
         and perhaps a group picture!</p>
      <p>Go to the <a href="/login">login page</a>.</p>
    </div>
  </body>
</html>