<!doctype html>
<html>
  <head>
    <title>Streams</title>
    <link rel="stylesheet" type="text/css" href="/css/content.css">
  </head>
  <body>
    <div id="content">
      <h1>Streams</h1>
      <img src="/images/screen-shot.png">
      <p>Please login to the streams application.</p>
      <div id="login">
        <form name="login-form" action="/login-user" method="post">
          <select name="username">
            <option value="testuser1">Test User 1</option>
            <option value="testuser2">Test User 2</option>
            <option value="testuser3">Test User 3</option>
          </select> <br>
          <input name="login-button" type="submit" value="Login">
        </form>
      </div>
    </div>
  </body>
</html>
