<% include head %>


<div id="backgroundGraphic" >
</div>


<div class="panelBackground">

</div>


<div id="logos">
<ul>
  <li><p style="width:100px"><b>North Atlantic Landscape Conservation Cooperative</b></p></li>
  <li><img src="images/CEE-logo.jpg" /></li>
  <li><img id="cslogo" src="images/logoCS.gif" /></li>
  <li><img src="images/Fish_USGS_small.jpg" /></li>
  <li><img src="images/FWS.gif" /></li>
  <li><span id="beta">Beta</span></li>
  </ul>
</div>

<div id="inputWrapper">
	
	<div id="map">
	</div>
	
	<div id="user">
	  <p>Logged in as <%= user %></p>
	  <a href="../login" style="margin-bottom:-40px">Sign Out</a>
	</div>
	
	<div id="basinSelection">
		<ul class="basinSelector">
	
		</ul>
	</div>
	
	
	<div id="steps-controls">
		<ul id="accordion">
			
			
			
			<li id="acc4" state="closed">
				<div class="toggle"><span class="title">Fish Models</span></div>
				<div class="content">
					<div id="fish-models-app">
					<div id="loader">
					    <div id="message"></div>
					  </div>
	         		 <div class="runTypeSelect">
						  <select name="runType" class="selectRun">
						  	<option>Create New Run</option>
						  	<option disabled="disabled">No Existing Runs Found</option>
						  </select>
						  <div class="selectImage"></div>
					  </div>
					  <p style="float:left;width:50px;margin-left:18px"> Model: </p>
					  <div class="styledSelect">
						 <select name="fishpopulation" class="selectRun">
						  <option value="IPM_WB_trout">IPM WB Trout</option>
						  <option value="IPM_WB_salmon">IPM WB Salmon</option>
						  <option value="IPM_WB_salmon">IPM WB Salmon</option>
						  </select>
						  <div class="selectImage"></div>
					  </div>
					   <div class="app_content">
				            <div id="IPM_WB_trout" class="app active">
							   
							   </div>
							    <div id="IPM_WB_salmon" class="app">
							   		<p>Stocking Stage (% change): <span class="stockingNumber">50</span>
			             			<div class="stockingslider1"></div>
			             			<p>Stocking Count (% change): <span class="countNumber">50</span>
			             			<div class="countslider1"></div>
							   </div>
							   <div id="IPM_WB_salmon" class="app">
							   
							   </div>
				       </div>
					  <br>
					  <p>
					  <div class="runModel">
					  		<input class="runInput" value=" Enter a run name"></input><br>
					    	<a id="run" href="#">Run with these settings</a>
					  	</div>
					
	         		
	
		         
					</div>				
				</div>
			</li>
			
			<li id="acc6" state="closed">
				<div class="toggle"><span class="title">Stream Temparature</span></div>
				<div class="content">
				
					<div id="streamtemp-flow-app">
					<div id="loader">
					    <div id="message"></div>
					  </div>
						 <div class="runTypeSelect">
						  <select name="runType" class="selectRun">
						  	<option>Create New Run</option>
						  	<option disabled="disabled">No Existing Runs Found</option>
						  </select>
						  <div class="selectImage"></div>
					  </div>
					  <p style="float:left;width:50px;margin-left:18px"> Model: </p>
					 <div class="styledSelect">
						 <select name="streamtemp" class="selectRun">
						  <option>Non-Linear Regression</option>
						  </select>
						  <div class="selectImage"></div>
					  </div>
					    <div class="app_content">
				            
				       </div>
					  <br>
					  <p>
					  <div class="runModel">
					  		<input class="runInput" value=" Enter a run name"></input><br>
					    	<a id="run" href="#">Run with these settings</a>
					  	</div>
					</div>
					
					
				</div>
			</li>
			
			<li id="acc2" state="closed">
				<div class="toggle"><span class="title">Stream Flow Models</span></div>
				<div class="content">
					<div id="environmental-models-app">
					<div id="loader">
					    <div id="message"></div>
					  </div>
					 <div class="runTypeSelect">
						  <select name="runType" class="selectRun">
						  	<option>Create New Run</option>
						  	<option disabled="disabled">No Existing Runs Found</option>
						  </select>
						  <div class="selectImage"></div>
					  </div>
					   <p style="float:left;width:50px;margin-left:18px"> Model: </p>
					  <div class="styledSelect">
						 <select name="streamflow" class="selectRun">
						  <option value="abcde_regional">ABCDE Regional</option>
						  </select>
						  <div class="selectImage"></div>
					  </div>
					   <div class="app_content">
				            
				       </div>
				        <div class="runModel" style="margin-top:50px">
					  		<input type="text" class="runInput" value=" Enter a run name" ></input><br>
					    	<a id="run" href="#">Run with these settings</a>
					  	</div>
					</div>				
				</div>
			</li>
			<li id="acc3" state="closed">
				<div class="toggle"><span class="title">Land Use Models</span></div>
				<div class="content">
					<div id="land-use-models-app">
					<div id="loader">
					    <div id="message"></div>
					  </div>
					 <div class="runTypeSelect">
						  <select name="runType" class="selectRun">
						  	<option>Create New Run</option>
						  	<option disabled="disabled">No Existing Runs Found</option>
						  </select>
						  <div class="selectImage"></div>
					  </div>
					  <p style="float:left;width:50px;margin-left:18px"> Model: </p>
					  <div class="styledSelect">
						 <select name="land" class="selectRun">
						  <option value="lcad_query">LCAD Query</option>
						  </select>
						  <div class="selectImage"></div>
					  </div>
					  <div class="app_content">
			             <p>Riparian cover (% change): <span class="riparianNumber">50</span>%
			             <div class="riparianslider1"></div>
			             <p>Impervious surface area (% change): <span class="surfaceNumber">50</span>%
			             <div class="surfaceslider1"></div>
				     	 </p>
				     </div>
				     <div class="runModel" style="margin-top:50px">
					  		<input type="text" class="runInput" value=" Enter a run name" ></input><br>
					    	<a id="run" href="#">Run with these settings</a>
					  	</div>
				</div>
				</div>
			</li>
			<li id="acc1" state="open">
				<div class="toggle"> <span class="title">Weather and Environmental Models</span></div>
				<div class="content">
					<div id="weather-models-app">
					
					  <div id="loader">
					    <div id="message"></div>
					  </div>
					  <div class="runTypeSelect">
						  <select name="runType" class="selectRun">
						  	<option>Create New Run</option>
						  	<option disabled="disabled">No Existing Runs Found</option>
						  </select>
						  <div class="selectImage"></div>
					  </div>
					  <p style="float:left;width:50px;margin-left:18px"> Model: </p>
					 <div class="styledSelect">
						 <select name="weathertype" class="selectRun">
						  <option value="weather_generator">Stochastic Weather Generation</option>
					   	  <option value="baseline_shift">Baseline Shift from Historic</option>
					   	  <option value="baseline_historic">Historic Baseline</option>
					   	  <option value="gcm_downscaled">GCM Downscaled Time Series</option>
					   	  <option value="temp_extreme">Temperature Extreme</option>
					   	  <option value="drought_extreme">Drought Extreme</option>
						  </select>
						  <div class="selectImage"></div>
					  </div>
					  
					 	<div class="app_content">
								<div id="weather_generator" class="app active">
									<p style="margin-top:-15px; float:left; margin-left:3px; text-align:left"><b>Precipitation</b> - change in mean: in 2013: <input id="mean_1" value="1">% in 2093: <input id="mean_2" value="1">%<br> 
								    <div id="c_variance" style="position: relative;top: -14px;">change in variance:<input id="precip02-value" value="1"></input>%</div> 
								    </p>				   
								    </p>
								    <div id="precip01"></div>
								    <div id="graphcontainer1"> </div>
								    
				
								    <p style="margin-top:-22px; position: relative; top: -3px; ">Mean Annual Temperature in 2013: <input id="mean_temp_1" value="1"></input> in 2093: <input id="mean_temp_2" value="1"></input></p>
								    <div id="graphcontainer2" style="margin-top:19px;"> </div>
								  </p>
								  <p>
							  </div>
							  <div id="baseline_shift" class="app">
							  	<p style="margin-top:-15px; float:left; margin-left:3px; text-align:left"><b>Precipitation</b> - change in mean: in 2013: <input id="mean_1" value="1">% in 2093: <input id="mean_2" value="1">%<br> 
								    <div id="c_variance" style="position: relative;top: -14px;">change in variance:<input id="precip02-value" value="1"></input>%</div> 
								    </p>				   
								    </p>
								    <div id="precip01"></div>
								    <div id="baselineHistoric_graphcontainer1"> </div>
								    
				
								    <p style="margin-top:-22px; position: relative; top: -3px; ">Mean Annual Temperature in 2013: <input id="mean_temp_1" value="1"></input> in 2093: <input id="mean_temp_2" value="1"></input></p>
								    <div id="baselineHistoric_graphcontainer2" style="margin-top:19px;"> </div>
								  </p>
								  <p>
							  </div>
							   <div id="baseline_historic" class="app">
							   
							   </div>
							    <div id="gcm_downscaled" class="app">
							   
							   </div>
							   <div id="temp_extreme" class="app">
							   
							   </div>
							   <div id="drought_extreme" class="app">
							   
							   </div>
					  </div>
					  	<div class="runModel">
					  		<input type="text" class="runInput" value=" Enter a run name" ></input><br>
					    	<a id="run" href="#">Run with these settings</a>
					  	</div>
					  </p>
					</div>
				</div>
			</li>
			<li id="acc5" state="open" style="display:none">
				<div class="toggle"><span class="title">Basin Selection</span></div>
				<div class="content">
					<div id="basin-app" class="application">
						<div id="prompt_header">
							<br><h2><center>
								<div id="basinTitle">Basin: West Brook</div>
							</center></h2>
						</div>
						<div id="prompt">
							<center>
								<button id="newBasin">Select New Basin</button>
							</center>
						</div>
						<div id="sim">
							<center>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
								<h2>Simulation Period</h2>
								<span class="years">30</span> Years
								<div id="years_slider" style="margin-left:0px"></div>
							</center>
						</div>
						
					</div>
				</div>
			</li>
			
		</ul>
	</div>
	
	
	
	<div id="tree">
	</div>

</div>

<div id="outputWrapper">
	<div id="outputTree">
		<div id="treeContainer">
			<span id="treeTitle">Run Selection</span>
			<ul>
				<li>Basin</li>
				<li>Climate</li>
				<li>Land Use</li>
				<li>Stream Flow</li>
				<li>Stream Temperature</li>
				<li>Fish Population</li>
				
			</ul>
		</div>
	</div>
	
	<div id="outputSelector">
		<div id="graphContainer">
			<span id="outputTitle">Output Graph Selection</span>
			<ul>
				<li>Basin</li>
				<li>Climate</li>
				<li>Land Use</li>
				<li>Stream Flow</li>
				<li>Stream Temperature</li>
				<li>Fish Population</li>
			</ul>
			
			<ul id="graphSelectionList">
				<li><ul id="basinGraphList" class="graphList">
					<li><div class="graphBox"></li>
					<li><div class="graphBox"></li>
				</ul>
				</li>
				<li><ul id="climateGraphList" class="graphList">
					<li><div class="graphBox"></li>
					<li><div class="graphBox"></li>
				</ul>
				</li>
				<li><ul id="landGraphList" class="graphList">
					<li><div class="graphBox"></li>
					<li><div class="graphBox"></li>
				</ul>
				</li>
				<li><ul id="flowGraphList" class="graphList">
					<li><div class="graphBox"></li>
					<li><div class="graphBox"></li>
				</ul>
				</li>
				<li><ul id="tempGraphList" class="graphList">
					<li><div class="graphBox"></li>
					<li><div class="graphBox"></li>
				</ul>
				</li>
				<li><ul id="fishGraphList" class="graphList">
					<li><div class="graphBox"></li>
					<li><div class="graphBox"></li>
				</ul>
				</li>
			<ul>
			
		</div>
		
		
		
	</div>
</div>


<div id="navigation">
<ul>
	<li><button id="inputButton" class="navButton">Input Selection</button></li>
	<li><button id="outputButton" class="navButton">Output Viewer</button></li>
	<li><button id="graphButton" class="navButton">Graph Viewer</button></li>
</ul>
</div>

<% include foot %>