<% include head %>


<div id="backgroundGraphic" >
</div>
<div id="map">
</div>

<div class="panelBackground">

</div>


<div id="logos">
<ul>
  <li><p style="width:100px"><b>North Atlantic Landscape Conservation Cooperative</b></p></li>
  <li><img src="images/CEE-logo.jpg" /></li>
  <li><img id="cslogo" src="images/logoCS.gif" /></li>
  <li><img src="images/Fish_USGS_small.jpg" /></li>
  <li><img src="images/FWS.gif" /></li>
  <li><span id="beta">Beta</span></li>
  </ul>
</div>

<div id="user">
  <p>Logged in as <%= user %></p>
  <a href="../login" style="margin-bottom:-40px">Sign Out</a>
</div>

<div id="basinSelection">
	<ul class="basinSelector">

	</ul>
</div>


<div id="steps-controls">
	<ul id="accordion">
		
		
		
		<li id="acc4" state="closed">
			<div class="toggle"><span class="title">Fish Models</span></div>
			<div class="content">
				<div id="fish-models-app">
				<div id="loader">
				    <div id="message"></div>
				  </div>
         		 <div class="runTypeSelect">
					  <select name="runType" class="selectRun">
					  	<option>Create New Run</option>
					  	<option disabled="disabled">No Existing Runs Found</option>
					  </select>
					  <div class="selectImage"></div>
				  </div>
         		<table width:"100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px">
                      <tr>
                        <td></td>
                        <td colspan="2" align="center" width="30"><strong>Growth</strong></td>
                        <td width="30">&nbsp;</td>
                        <td colspan="2" align="center" width="30"><strong>Survival</strong></td>
                      </tr>
                      <tr>
                      	<td></td>
                      	<td align="left">0</td>
                        <td align="right">1</td>
                        <td></td>
                      	<td align="left">0</td>
                        <td align="right">1</td>
                      <tr>
                      	<td>Spring</td>
                        <td colspan="2" align="center"><div class="nullslider2"></div></td>
                        <td></td>
                        <td colspan="2" align="center"><div class="nullslider2"></div></td>
                      </tr>
                      <tr>
                      	<td>Summer</td>
                        <td colspan="2" align="center"><div class="nullslider2"></div></td>
                        <td></td>
                        <td colspan="2" align="center"><div class="nullslider2"></div></td>
                      </tr>                      
                      <tr>
                      	<td>Fall</td>
                        <td colspan="2" align="center"><div class="nullslider2"></div></td>
                        <td></td>
                        <td colspan="2" align="center"><div class="nullslider2"></div></td>
                      </tr>                      
                      <tr>
                      	<td>Winter</td>
                        <td colspan="2" align="center"><div class="nullslider2"></div></td>
                        <td></td>
                        <td colspan="2" align="center"><div class="nullslider2"></div></td>
                      </tr>
                      <tr><td>&nbsp;</td></tr>
                      <tr><td colspan="6" align="center">
                      	<input type="submit"  class="nullbutton" name="fishmodel" value="Run Fish Model" >
                      </td></tr>
                </table>

	         
				</div>				
			</div>
		</li>
		<li id="acc3" state="closed">
			<div class="toggle"><span class="title">Land Use Models</span></div>
			<div class="content">
				<div id="land-use-models-app">
				<div id="loader">
				    <div id="message"></div>
				  </div>
				 <div class="runTypeSelect">
					  <select name="runType" class="selectRun">
					  	<option>Create New Run</option>
					  	<option disabled="disabled">No Existing Runs Found</option>
					  </select>
					  <div class="selectImage"></div>
				  </div>
	             <p align="center"><input class="nullbutton" value="Launch Barrier Module" type="submit">
	             <p>Riparian cover (% change): 0%
	             <div class="nullslider1"></div>
	             <p>Impervious surface area (% change): 0%
	             <div class="nullslider1"></div>
	             <p align="center"><input class="nullbutton" value="Run Land Use Model" type="submit">
		     	 </p>
			</div>
			</div>
		</li>
		<li id="acc2" state="closed">
			<div class="toggle"><span class="title">Stream Flow Models</span></div>
			<div class="content">
				<div id="environmental-models-app">
				<div id="loader">
				    <div id="message"></div>
				  </div>
				 <div class="runTypeSelect">
					  <select name="runType" class="selectRun">
					  	<option>Create New Run</option>
					  	<option disabled="disabled">No Existing Runs Found</option>
					  </select>
					  <div class="selectImage"></div>
				  </div>
		             <p align="center"><strong>Directly specify stream flow and temperature changes</strong></p>
		             <p>Streamflow (% change): 0%</p>
		             <div class="nullslider1"></div>
		             <p>Stream temperature (% change): 0%</p>
		             <div class="nullslider1"></div>
		             <p align="center">
		             <input class="nullbutton" value="Run Stream Models" type="submit">
			         </p>
				</div>				
			</div>
		</li>
		<li id="acc1" state="closed">
			<div class="toggle"> <span class="title">Weather and Environmental Models</span></div>
			<div class="content">
				<div id="weather-models-app">
				
				  <div id="loader">
				    <div id="message"></div>
				  </div>
				  <div class="runTypeSelect">
					  <select name="runType" class="selectRun">
					  	<option>Create New Run</option>
					  	<option disabled="disabled">No Existing Runs Found</option>
					  </select>
					  <div class="selectImage"></div>
				  </div>
				  <p style="float:left;width:50px;margin-left:18px"> Model: </p>
				 <div class="styledSelect">
					 <select name="weathertype" class="selectRun">
					  <option>Stochastic Weather Generation</option>
				   	 <option disabled="disabled">Downscaled Climate Scenario</option>
					  </select>
					  <div class="selectImage"></div>
				  </div>
				 

					<p style="margin-top:-15px; float:left; margin-left:3px; text-align:left"><b>Precipitation</b> - change in mean: in 2013: <input id="mean_1" value="1">% in 2093: <input id="mean_2" value="1">%<br> 
				    <div id="c_variance" style="position: relative;top: -14px;">change in variance:<input id="precip02-value" value="1"></input>%</div> 
				    </p>				   
				    </p>
				    <div id="precip01"></div>
				    <div id="graphcontainer1"> </div>

				    <p style="margin-top:-22px">Mean Annual Temperature in 2013: <input id="mean_temp_1" value="1"></input> in 2093: <input id="mean_temp_2" value="1"></input></p>
				    <div id="graphcontainer2" style="margin-top:10px;"> </div>
				  </p>
				  <p>
				  	<div class="runModel">
				  		<input class="runInput" value=" Enter a run name"></input><br>
				    	<a id="run" href="#">Run with these settings</a>
				  	</div>
				  </p>
				</div>
			</div>
		</li>
		<li id="acc5" state="closed" style="display:none">
			<div class="toggle"><span class="title">Basin Selection</span></div>
			<div class="content">
				<div id="basin-app" class="application">
					<div id="prompt_header">
						<br><h2><center>
							<div id="basinTitle">Basin: West Brook</div>
						</center></h2>
					</div>
					<div id="prompt">
						<center>
							<button id="newBasin">Select New Basin</button>
						</center>
					</div>
					<div id="sim">
						<center>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
							<h2>Simulation Period</h2>
							<span class="years">30</span> Years
							<div id="years_slider" style="margin-left:0px"></div>
						</center>
					</div>
					
				</div>
			</div>
		</li>
		
	</ul>
</div>

<div id="tree">
</div>

<% include foot %>