<div id="display">
  <div id="top-bar"></div>

  <div id="side-bar">
    <div id="inst">

      <div id="prompt_header">
        Please select a basin. Right-click on the map to retrieve and display
        basin data.
      </div>

      <div id="prompt"></div>

      <div id="rscript"></div>

    </div>
  </div>

  <div id="map-view">
    <div id="map"></div>
  </div>

  <div id="bottom-bar"></div>

  <div id="logos">
    <p> <b>North Atlantic Landscape Conservation Cooperative</b>
    </p>
    <img src="images/CEE-logo.jpg" />
    <img id="cslogo" src="images/logoCS.gif" />
    <img src="images/Fish_USGS_small.jpg" />
    <img src="images/FWS.gif" />
    <span id="beta">Beta</span>
  </div>

</div>