/* Chris jennison accordion plugin */
ul#accordion{
	list-style-type: none;
	margin-right:50px;
	color:black;
	
		-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;

}

ul#accordion li{
	/* -- transition is the magic sauce for animation -- */
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	
	display:inline-block;
	width:30px;
	overflow: hidden;
	float:right;
}

ul#accordion li .toggle{
	cursor:pointer;
	position:absolute;
	top:29px;
	width:30px;
	height:550px;
	background:#f7e7b5;
	border-style:solid;
	border-width:2px;
	border-color:#ffbe57;
}

ul#accordion li .toggle .title{
	position:absolute;
	text-align:center;
	right:-260px;
	color:#9b7538;
	top:50%;
	font-weight:900;
	width:550px; -moz-transform: rotate(-90deg);  /* FF3.5+ */
       -o-transform: rotate(-90deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=-90);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=-90)"; /* IE8 */
}

ul#accordion li .content{
	margin-left:34px;
	width:410px;
	height:570px;
}

#acc4, #acc3, #acc2, #acc1{
	height:570px;
	margin-top:0px;
	
	/*
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	*/
}









