#outputTree{
	position:absolute;
	width:100%;
	height:400px;
	background:rgba(200,200,200,.8);
	
	top:0;
	left:-50px;
}

#outputSelector{
	position:absolute;
	width:100%;
	height:250px;
	background:rgba(0,0,200,.7);
	
	top:400px;
	left:-50px;
}

#treeContainer{
	position:absolute;
	width:1100px;
	
	left:50%;
	margin-left:-550px;
}

#treeContainer ul{	
	list-style-type: none; 
	margin-top:40px;
		margin-left:0px;

	width:100%;
}

#treeContainer #treeTitle{
	position:absolute;
	width:1100px;
	text-align: center;
	font-size:26px;
	margin-top:10px;
	margin-left:-50px;
}

#treeContainer ul li{
	margin-left:40px;
	width:100px;
	text-align:center;
	display:inline-block;
	font-size: 15px;
	
	font-weight:900;
	 
}

#treeContainer svg{
	margin-top:-75px;
	margin-left:70px;
}

#graphContainer{
	position:absolute;
	width:1100px;
	color:white;
	left:50%;
	margin-left:-550px;
}

#graphContainer ul{	
	list-style-type: none; 
	margin-top:40px;
	margin-left:-100px;

	width:100%;
}

#graphContainer #graphSelectionList{	
	list-style-type: none; 
	margin-top:16px;
	margin-left:-100px;

	width:100%;
}

#graphContainer #outputTitle{
	position:absolute;
	width:1100px;
	text-align: center;
		margin-top:10px;

	font-size:26px;
	margin-left:-50px;
}

#graphContainer ul li{
	margin-left:73px;
	width:100px;
	text-align:center;
	display:inline-block;
	font-size: 15px;
	font-weight:900;
}

#graphSelectionList{
	position: absolute;
	top: 20px;
}

#graphSelectionList li{

}

#graphSelectionList li .graphList{
	position: absolute;
	margin-left: -75px;
	top: 30px;
}

.graphBox{
	position: relative;
	cursor:pointer;
	text-align:center;
	width:160px;
	height:20px;
	overflow:hidden;
	background: #f7e7b5;
	border-style: solid;
	border-width: 4px;
	border-color: #ffbe57;
	margin-top:10px;
	box-shadow: 1px 5px 14px -3px #4D4D4D;
}

#graphContainer #graphSelectionList li{
	position: relative;
	top: -52px;
	left: -10px;
	margin-top:4px;
	margin-left: 80px;
}

.graphText{
	color:black;
}

#inputDropBox{
	display:none;
	position: fixed;
	width: 300px;
	height: 200px;
	top: 427px;
	left: -252px;
	background: white;
}

#inputDropBox.active{
	left: -150px;
}

#basinImage{
	position:absolute;
	top:20px;
	left:110px;
	
	width:400px;
	height:400px;
	background:url("../images/basin.svg");
	background-size:100% 100%;
}

#chart{
  position: absolute;
  top: 20px;
  left:150px;
  width:500px;
  height:400px;
  background-color: white;
}

#northwestImage{
	position: absolute;
	  top: 20px;
	  left:150px;
	  width:500px;
	  height:400px;
	background:url("../images/sample_temp_graph.svg");
	background-size:100% 100%;
}

#northeastImage{
	position:absolute;
	top:20px;
	right:230px;
	width:500px;
	height:400px;
	background:url("../images/sample_temp_graph.svg");
	background-size:100% 100%;
}

#southwestImage{
	position:absolute;
	bottom:150px;
	left:150px;
	
width: 500px;
height: 400px;
background: url("../images/sample_precip_graph.svg");
	background-size:100% 100%;
}

#southeastImage{
	position:absolute;
	bottom:150px;
	right:230px;
	
width: 500px;
height: 400px;
background: url("../images/sample_flow_graph.svg");
	background-size:100% 100%;
}

#climateImage{
	position:absolute;
	top:20px;
	right:180px;
	
	width:400px;
	height:400px;
	background:url("../images/climate_thumbnail.svg");
	background-size:100% 100%;
}

#flowImage{
	position:absolute;
	bottom:150px;
	left:110px;
	
	width:400px;
	height:400px;
	background:url("../images/flow_thumbnail.svg");
	background-size:100% 100%;
}

#fishImage{
	position:absolute;
	bottom:150px;
	right:180px;
	
	width:400px;
	height:400px;
	background:url("../images/population_thumbnail.gif");
	background-size:100% 100%;
}

#checkBoxes{
	position: absolute;
	top: 37px;
	right: 166px;
	width:50px;
}

#checkBoxes ul{
	list-style-type: none;
	display:block;
}

#checkBoxes ul li{
	position:absolute;
}

input[type="checkbox"] {
    opacity: 0;
	position: absolute;
	width: 26px;
	height:26px;
	cursor:pointer;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:26px;
    height:26px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) left top no-repeat;
    
}
input[type="checkbox"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -29px top no-repeat;
}

#graphSelectionButtons{
	position: absolute;
	text-align: center;
	left: 50%;
	width: 90%;
	margin-left: -50%;
	top: 100px;
}
