#outputTree{
	position:absolute;
	width:100%;
	height:400px;
	background:rgba(200,200,200,.8);
	
	top:0;
	left:-50px;
}

#outputSelector{
	position:absolute;
	width:100%;
	height:250px;
	background:rgba(0,0,200,.7);
	
	top:450px;
	left:-50px;
}

#treeContainer{
	position:absolute;
	width:1100px;
	
	left:50%;
	margin-left:-550px;
}

#treeContainer ul{	
	list-style-type: none; 
	margin-top:40px;
		margin-left:0px;

	width:100%;
}

#treeContainer #treeTitle{
	position:absolute;
	width:1100px;
	text-align: center;
	font-size:26px;
	margin-top:10px;
	margin-left:-50px;
}

#treeContainer ul li{
	margin-left:40px;
	width:100px;
	text-align:center;
	display:inline-block;
	font-size: 15px;
	
	font-weight:900;
	 
}

#treeContainer svg{
	margin-left:70px;
}

#graphContainer{
	position:absolute;
	width:1100px;
	color:white;
	left:50%;
	margin-left:-550px;
}

#graphContainer ul{	
	list-style-type: none; 
	margin-top:40px;
		margin-left:0px;

	width:100%;
}

#graphContainer #outputTitle{
	position:absolute;
	width:1100px;
	text-align: center;
		margin-top:10px;

	font-size:26px;
	margin-left:-50px;
}

#graphContainer ul li{
	margin-left:40px;
	width:100px;
	text-align:center;
	display:inline-block;
	font-size: 15px;
	
	font-weight:900;
	 
}

#graphSelectionList li .graphList{
	position: absolute;
	margin-left: -75px;
	top: 30px;
}

.graphBox{
	text-align:center;
	width:100px;
	height:20px;
	background:orange;
}

#graphContainer #graphSelectionList .graphList li{
	display:block;
	margin-top:20px;
}

