
.image_box {
    position: absolute;
    width: 400px;
    height: 400px;
    color: black;
    border: 1px solid black;
    background-color: white;  
    box-shadow: 5px 5px 5px #888888;
    z-index: 900;
    font-family: Arial;
    font-size: 11px;
}

.image_box_title {
    text-align: center;
    font-size : 15px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.image_box_image {
    width: 100px,
    height: 100px
}