body {
  z-index : -500;
  position: absolute;
  top     : 0;
  left    : 0;
  height  : 100%;
  width   : 100%;
  margin  : 0px;
}

.infowindow {
  font-size: 12px;
  font-family: arial;
  color: white;
  margin-top: 8px;
  background: green;
  padding: 5px;
}

.error {
  color: red;
}

div#rscript {
  margin-top: 10px;
}

div#inst {
  width : 250px;
  height: 600px;
  margin-left: -10px;
  margin-top: -40px;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 5px 5px 5px #888888;
  z-index: 300;
  font-family: Arial;
  font-size: 11px;
}

div#loader {
  height: 20px;
  border-bottom: 1px solid gray;
}

div#loader > #msg img {
  display: inline;
  float: right;
  margin-right: 5px;
}

div#prompt_header {
  margin-top: 10px;
  clear: both;
}

div#map {
  display : block;
  position: absolute;
  top     : 0;
  left    : 0;
  height  : 100%;
  width   : 100%;
  z-index : -10;
  border  : 1px solid black;
}

div#logos {
  margin-left: 10px;
  margin-top: 10px;
  z-index: 300;
  width: 200px;
}

div#logos > img {
  display: block;
  width: 60px;
}

div#logos > p {
  font-size: 10px;
  color: blue;
}

span#beta {
  font-family: Arial;
  font-size: 30px;
  color: red;
}