<div id="environmental-models-app">
             <p align="center"><strong>Directly specify stream flow and temperature changes</strong></p>
             <p>Streamflow (% change): 0%</p>
             <div class="nullslider1"></div>
             <p>Stream temperature (% change): 0%</p>
             <div class="nullslider1"></div>
             <p align="center">
             <input class="nullbutton" value="Run Stream Models" type="submit">
	         </p>
</div>