<div id="weather-models-app">
  <p>
    Please select values below for <strong>mean percent change in
    precipitation</strong>, <strong>mean percent change in
    precipitation variance</strong>, and <strong>mean change in
    temperature</strong>.
  </p>
  <p>
    <p>Precipitation 1 [<span id="precip01-value"></span>%]</p>
    <div id="precip01"></div>
    
    <p>Precipitation 2 [<span id="precip02-value"></span>%]</p>
    <div id="precip02"></div>

    <p>Mean Temp Change [<span id="mean-temp-value"></span>]</p>
    <div id="mean-temp"></div>
  </p>
</div>
