<div id="weather-models-app">
  <div id="loader">
    <div id="message"></div>
  </div>
  <p>
    Please select values below for <strong>mean percent change in
    precipitation</strong>, <strong>mean percent change in
    precipitation variance</strong>, and <strong>mean change in
    temperature</strong>.
  </p>
  <p>
    <p>Mean Perc. Change in Precipitation [<span id="precip01-value"></span>%]</p>
    <div id="precip01"></div>
    
    <p>Mean Perc. Change in Precipitation Variance [<span id="precip02-value"></span>%]</p>
    <div id="precip02"></div>

    <p>Mean Temperature Change [<span id="mean-temp-value"></span>]</p>
    <div id="mean-temp"></div>
  </p>
  <p>
    <a id="run" href="#">Run Model</a>
  </p>
</div>
